<%- include("header") %>

  <%- include("navbar") %>

    <%- include("sidebar") %>

      <div class="container middle-part">
        <div class="row">
          <div class="col">
            <p class="name-greeting">Hi, my name is</p>
            <h1 class="name">Prajwal Moharana.</h1>
            <h2 class="subheading">I build things for the web.</h2>
            <p class="desc-text">
              I'm a fullstack developer specializing in nothing at the moment. My current goal is to learn as much as
              possible and then decided what to specialize in. I am a student at the University of North Carolina at
              Chapel
              Hill majoring in computer science and statistics.
            </p>
            <button class="btn btn-lg btn-outline-secondary">Projects</button>
          </div>
        </div>
      </div>
      <%- include("footer") %>