<nav class="navbar navbar-expand-md navbar-light bg-white fixed-top px-5 py-3">
  <a class="navbar-brand" href="#">PM</a>
  <button class="navbar-toggler ml-auto mr-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto main-nav">
      <li class="nav-item active mx-3 mt-3">
        <a class="nav-link p-0" href="#"><span>// about</span></a>
      </li>
      <li class="nav-item mx-3 mt-3">
        <a class="nav-link p-0" href="#"><span>// projects</span></a>
      </li>
      <li class="nav-item mx-3 mt-3">
        <a class="nav-link p-0" href="#"><span>// blog</span></a>
      </li>
      <li class="nav-item mx-3 mt-3">
        <a class="nav-link p-0" href="#"><span>// contact</span></a>
      </li>
    </ul>
  </div>

  <button class="btn btn-outline-success my-auto ml-5" type="submit">résumé</button>
</nav>