<ul class="nav flex-column sidebar sidebar-left">
  <div class="sidebar-links mb-2">
    <li class="nav-item">
      <a target="_blank" rel="noopener" class="nav-link" href="https://github.com/pmoharana-cmd"><i
          class="fa-brands fa-square-github"></i></a>
    </li>
    <li class="nav-item">
      <a target="_blank" rel="noopener" class="nav-link"
        href="https://www.linkedin.com/in/prajwal-moharana-b934b0204/"><i class="fa-brands fa-linkedin"></i></a>
    </li>
    <li class="nav-item">
      <a target="_blank" rel="noopener" class="nav-link" href=""><i class="fa-solid fa-envelope"></i></a>
    </li>
    <li class="nav-item">
      <a target="_blank" rel="noopener" class="nav-link" href=""><i class="fa-brands fa-slack"></i></a>
    </li>
    <li class="nav-item">
      <a target="_blank" rel="noopener" class="nav-link" href=""><i class="fa-brands fa-square-instagram"></i></a>
    </li>
  </div>
</ul>