<ul class="nav flex-column sidebar sidebar-right">
  <div class="sidebar-links">
    <li class="nav-item sidebar-email">
      <a class="nav-link" href="">pmoharana032474@gmail.com</a>
    </li>
  </div>
</ul>