/* Navbar */

.main-nav .nav-item .nav-link {
  font-size: 18px;
}

/* Left and Right Sidebars */

.sidebar {
  font-size: 30px;
  width: 30px;
  height: auto;
  position: fixed;
}

.sidebar::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  background-color: blue;
}

.sidebar-left {
  left: 40px;
  bottom: 0;
}

.sidebar-right {
  right: 38px;
  bottom: 0;
  font-size: 15px;
}

.sidebar-left::after {
  margin: 11px 0 0 11px;
}

.sidebar-right::after {
  margin: 11px 0 0 12px;
}

.sidebar-email {
  transform: rotate(90deg);
  position: relative;
  right: 95px;
  top: -108px;
}

.sidebar-links li a {
  padding: 0;
  padding-bottom: 7px;
}

/* Reminder to self to add media queries for sidebars */

/* Introduction */

.introduction {
  padding: 10% 0 10%;
  position: relative;
}

.introduction:before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-image: url("https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  background-color: gray;
}

.introduction-body {
  position: relative;
  padding: 4% 15%;
  text-align: left;
}

.heading-greeting {
  font-size: 20px;
}

.big-heading {
  font-size: 80px;
  margin-bottom: -12px;
}

.subheading {
  font-size: 80px;
  color: gray;
  margin-top: -10px;
}

.desc-text {
  padding-right: 30%;
}

/* About */

.about {
  padding-top: 15%;
}
