*,
*::before,
*::after {
  box-sizing: border-box;
}

.middle-part {
  margin: 10%;
}

.desc-text {
  overflow-wrap: break-word;
  padding-right: 30%;
}

.sidebar {
  font-size: 30px;
  width: 30px;
  height: auto;
  position: fixed;
  left: 40px;
  bottom: 0;
}

.sidebar::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 11px 0 0 11px;
  background-color: blue;
}

a.nav-link {
  padding: 0;
  padding-bottom: 7px;
}
